<div class="main-menu f-right">
    <nav id="mobile-menu-right">
      <ul>
        <li class="has-sub">
          <a href="index.html" class="hover">Home</a>
        </li>
        <li class="has-sub">
          <a href="#">Covers &#8675;</a>
          <ul
            class="sub-menu"
            style="border-top: 4px solid #fab758"
          >
            <li>
              <a href="motorinsurance.html">Motor Insurance</a>
            </li>
            <li>
              <a href="mediacalandtravel.html"
                >Medical & Travel</a
              >
            </li>
            <li><a href="general.html">General Insurance</a></li>
          </ul>
        </li>
        <li>
          <a href="#" style="border-bottom: 4px solid #fab758"
            >Claim Forms</a
          >
        </li>
        <li>
          <a href="report.html" class="hover">Report Claim</a>
        </li>
        <li class="has-sub">
          <a href="getquote.html" class="hover">Get Quote</a>
        </li>
        <li class="has-sub right-view">
          <a href="contact.html" class="hover">Contact</a>
        </li>
      </ul>
    </nav>
  </div>